@if (loading()) {
  <p class="task-list__loading">{{ "home.loading" | translate }}</p>
} @else if (tasks().length === 0) {
  <p class="task-list__empty">{{ emptyMessage() | translate }}</p>
} @else {
  <ul class="task-list" role="list">
    @for (task of tasks(); track task.id) {
      <li
        class="task-row"
        [class]="'task-row--' + getStatusSeverity(task.status?.name)"
      >
        <div class="task-row__main">
          <span class="task-row__name">{{ task.name }}</span>
          @if (task.description) {
            <span class="task-row__description">{{ task.description }}</span>
          }
          <span class="task-row__project">{{
            task.project?.name || ("table.unassigned" | translate)
          }}</span>
        </div>

        <div class="task-row__meta">
          @for (taskTag of task.tags; track taskTag.tag.id) {
            <p-chip [label]="taskTag.tag.name" class="task-row__tag" />
          }
          @if (task.estimatedHours) {
            <span class="task-row__hours">{{ task.estimatedHours }}h</span>
          }
          @if (task.status?.name) {
            <p-tag
              [value]="getStatusDisplayName(task.status!.name)"
              [severity]="getStatusSeverity(task.status?.name)"
            />
          }

          <div class="task-row__actions">
            <p-button
              icon="pi pi-eye"
              [text]="true"
              [rounded]="true"
              severity="secondary"
              size="small"
              (onClick)="onView(task)"
              [pTooltip]="'common.viewDetails' | translate"
              [ariaLabel]="
                ('common.viewDetails' | translate) + ': ' + task.name
              "
            />
            <p-button
              icon="pi pi-pencil"
              [text]="true"
              [rounded]="true"
              severity="secondary"
              size="small"
              (onClick)="onEdit(task)"
              [pTooltip]="'common.edit' | translate"
              [ariaLabel]="('common.edit' | translate) + ': ' + task.name"
            />
            <p-button
              icon="pi pi-trash"
              [text]="true"
              [rounded]="true"
              severity="danger"
              size="small"
              (onClick)="onDelete(task)"
              [pTooltip]="'common.delete' | translate"
              [ariaLabel]="('common.delete' | translate) + ': ' + task.name"
            />
          </div>
        </div>
      </li>
    }
  </ul>
}
