<p-menubar [model]="items">
  <ng-template #start ><h1 class="h1"> OpenTimeTracker</h1>  </ng-template>
  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link " [routerLink]="item.routerLink" [routerLinkActive]="'p-menubar-item-active'" [ngClass]="{ 'p-disabled': item.disabled }">
      @if(item.icon){
        <i [ngClass]="item.icon" class="p-menubar-item-icon"></i>
      }
      <span>{{ item.label }}</span>
    </a>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2">
      <a pRipple class="flex items-center p-menubar-item-link">
        <i
          class="p-menubar-item-icon"
          [ngClass]="iconSelected()"
          (click)="handleToggleDarkMode()"
        ></i>
      </a>
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
    </div>
  </ng-template>
</p-menubar>
